[bumpversion]
current_version = 0.1.7
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:china_stock_data/__version__.py]
search = VERSION = ({current_version_tuple})
replace = VERSION = ({new_version_tuple}) 